.zen-kaku-gothic-new-medium {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #f6f0cc;
}

.choice_text{
    color: #3aacad;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 36px;
    margin: 30px 0px 20px 0px;
    padding: 10px 0px;
    width: 100%;
}

.choice_text2{
    color: #432c02;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px;
}

.choice_text3{
    color: #432c02;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px;
}

.choice{
    display: grid;
    grid-template-rows: 240px 240px 240px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.photo{
    width: 200px;
    cursor: pointer;
}

.photo:hover{
    transform: scale(1.1,1.1);
    transition-duration: 0.3s;
    }

#kekka_text{
    color: #ff6c94;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 36px;
    margin: 70px 0px 0px 0px;
    padding: 10px 0px;
}

.kekka_text2{
    color: #432c02;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    line-height: 1.8;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px;
}

.kekka{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.save{
    display: flex;
    justify-content: center;
}

.button{
    width: 300px;
    height: 60px;
    line-height: 60px;
    background-color: #ff6c94;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
    border-radius: 10px;
    cursor: pointer;
}

.button2{
    width: 300px;
    height: 60px;
    line-height: 60px;
    background-color: #3aacad;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0px 30px 60px 30px;
    border-radius: 10px;
    cursor: pointer;
}